/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

fieldset,img {
  border:0;
}

address,caption,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}

li {
  list-style:none;
}

caption,th {
  text-align:left;
}

h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}

html,body {
  background-size: cover;
  background: #fff url(../images/bg.jpg) center top no-repeat;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin:0;
  padding:0;
  width: 100%;
}

/* HangOps */

#wrapper {
  margin: 0 auto;
  max-width: 100%;
  width: 940px;
}

.main {
  float: left;
  max-width: 100%;
  width: 940px;
}

.header, .content, .bottom, .sep2 {
  float: left;
  width: 100%;
}

.header {
	margin: 160px 0 40px 0;
}

h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 300;
  margin: 0 0 10px 0;
  text-align: center;
}

h1 strong {
  font-size: 38px;
  font-weight: 700;
}

h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}

h2 strong {
	font-style: italic;
	font-weight: 700;
}


.information {
  margin: 0 auto;
  width: 480px;
}

h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}

.information p {
  color: #eee;
  display: block;
  font-size: 12px;
}

.form {
  color: #fff;
  margin-top: 20px;
  position: relative;
  text-align: center;
  width: 478px;
}

.field {
  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;
  background: url(../images/field.png) repeat;
  border: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
  outline: none;
  padding: 15px;
  width: 448px;
}
.field:focus {
	border: 1px solid #fff;
	padding: 14px;
}

@media only screen and (max-width: 480px) {
	.information {
    width: 100%;
	}

	.form {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
	}

	.field {
    width: 90%;
	}
}

.submit {
  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;
  background: #fff;
  border: none;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  padding: 3px 10px;
}

.submit:hover {
  background: #eee;
}

#slack-code-of-conduct {
  margin: 10px;
}

.error {
  color: #FE7070;
  font-size: 25px;
  font-weight: 700;
}

a, a:visited {
  color: #fff;
  font-weight: 700;
}

a:hover {
  color: #eee;
}
